.admission-content .header-sec {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url("../public/img/bg-admission.jpg");

  background-position: center;
  background-repeat: repeat;
  background-size: cover;
  color: #fff;
}
