@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Poppins", sans-serif;
}

:root {
  --light: #e5e5e5;
  --orange: #ff220e;
  --blue: #2d318b;
  --blueVariant: hsl(237, 50%, 16%);
}

a {
  color: inherit;
  text-decoration: none;
}

h1 {
  font-size: 3rem;
}
h2 {
  font-size: 2.5rem;
}
h3 {
  font-size: 2rem;
}
h4 {
  font-size: 1.7rem;
}
h2,
h1,
h3,
h4,
h5 {
  font-weight: bold;
}

p,
li,
a {
  font-size: 1rem;
  padding-bottom: 0.6rem;
}

.container {
  padding: 1rem 3rem;
}

.headerLine {
  width: 10rem;
  height: 3px;
  background-color: var(--orange);
}
.headerLineCenter {
  width: 10rem;
  height: 3px;
  background-color: var(--orange);
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-sec {
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.centerContent {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.btn {
  padding: 0.4rem 1rem;
  background-color: var(--orange);
  color: #fff;
}
.btn-alt {
  padding: 0.4rem 1rem;
  border: 1px solid var(--orange);
  color: var(--light);
}

@import "Nav.css";
@import "footer.css";
/* Form Styles */
@import "form.css";
@import "admission.css";

@media only screen and (max-width: 798px) {
  h1 {
    font-size: 2.5rem;
  }
  .container {
    padding: 1rem 1.5rem;
  }
}
